<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mawen.learn.advance.concurrency.mapper.DeptMapper">

    <resultMap id="defaultResultMap" type="com.mawen.learn.advance.concurrency.entity.DeptEntity">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="parentId" column="pid"/>
    </resultMap>

    <update id="updateParent">
        update dept set pid = #{pid} where id = #{id}
    </update>

    <delete id="delete">
        delete from dept where id = #{id}
    </delete>

    <select id="selectById" resultMap="defaultResultMap">
        select * from dept where id = #{id}
    </select>
    <select id="selectByIdForUpdate" resultMap="defaultResultMap">
        select * from dept where id = #{id} for update
    </select>

</mapper>